$screen1: 720px;
$screen2: 640px;
$screen3: 540px;
$screen4: 480px;

$color1: rgb(182, 140, 207);
$color2: rgb(147, 19, 222);
$color3: rgb(73, 36, 160);
$color4: rgb(46, 6, 34);


$media1C:repeat(4,1fr);

$media2C:repeat(3,1fr);

$media3C:repeat(2,1fr);

$media4C:1fr;