$screen1: 720px;
$screen2: 610px;
$screen3: 540px;
$screen4: 480px;

$color1: rgb(17, 233, 107);
$color2: rgb(54, 236, 212);
$color3: rgb(44, 145, 212);
$color4: rgb(48, 76, 238);


$media1C:repeat(8,1fr);

$media2C:repeat(7,1fr);

$media3C:repeat(6,1fr);

$media4C:repeat(5,1fr);