$screen1: 720px;
$screen2: 620px;
$screen3: 540px;
$screen4: 480px;

$color1: rgb(255, 0, 0);
$color2: rgb(255, 255, 0);
$color3: rgb(0, 255, 0);
$color4: rgb(0, 0, 255);


$media1C:repeat(5,1fr);

$media2C:repeat(4,1fr);

$media3C:repeat(3,1fr);

$media4C:repeat(2,1fr);