$numColumns: repeat(12,1fr);
$colorHead: rgb(0, 0, 0);
$colorFoot: rgb(0, 0, 100);
$colorText: rgb(255, 0, 0);
$colorBody: rgb(95, 235, 137);
$headWidthDivStart: 1;
$headWidthDivEnd: 13;
$flexSpaceAlignment: space-around;
$container: "divBody";

$neutralheight: 50px;
$bodyheight: 500px;
$itemHeight: 100px;
$h2color: rgb(253, 253, 160);
$standartMargin: 5px;
$borderStyle: 1px solid gray;
